    * {
        padding: 0;
        margin: 0;
    }
    
    .container1 {
        background-color: #f8f5de;
        background-image: linear-gradient(to right, rgba(255, 210, 0, 0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0, 0.1) 65%);
        box-shadow: inset 0 0 100px rgba(255, 210, 0, 0.3), inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
        color: rgba(0, 0, 0, 0.5);
        width: 100%;
    }
    
    .title {
        padding: 2rem;
        margin: auto;
        font-size: large;
        text-align: center;
        /* border-radius: 5rem; */
        width: 80%;
    }
    
    .hero-img-container {
        background-color: rgba(206, 196, 90, 0.409);
        text-align: center;
        padding: 2rem;
        width: 80%;
        margin: auto;
        border-radius: 5px;
    }
    
    .hero_image {
        width: 40%;
        height: 40%;
        border-radius: 5px;
    }
    
    #img-caption {
        padding: 1rem;
        max-width: 70vh;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    .info-container {
        padding: 2rem 10rem 0 10rem;
        text-align: center;
    }
    
    .info-container h3 {
        font-size: 2rem;
    }
    
    ul {
        text-align: left;
        list-style-type: none;
        font-weight: lighter;
    }
    
    hr {
        margin: 1rem auto 1rem auto;
        border: dotted #b88181 6px;
        border-bottom: none;
        width: 10%;
    }
    
    ul li {
        padding: 3px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.564);
        font-size: 1.2rem;
        letter-spacing: 1.5;
        line-height: 2;
    }
    
    .tweet-class {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 50%;
    }
    
    .twitter-tweet {
        margin: 1rem;
        padding-bottom: 5rem;
    }
    
    @media (max-width: 425px) {
        .info-container {
            padding: 2rem 0rem 0 0rem;
        }
        .container1 {
            width: 100vh;
        }
        .tweet-class {
            margin: auto;
            display: flex;
            flex-direction: column;
        }
        .twitter-tweet {
            padding-bottom: 2rem;
        }
    }